{% extends "layout.html" %}
{% block content %}
    <div class ="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div><br/>

                <div class="form-group">
                    {{ form.cuisine.label(class="form-control-lg") }}

                    {% if form.cuisine.errors %}
                        {{ form.cuisine(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cuisine.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cuisine(class="form-control form-control-lg", id="cuisine") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.category.label(class="form-control-lg") }}

                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-lg", id="cuisine") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.ingredient.label(class="form-control-lg") }}

                    {% if form.ingredient.errors %}
                        {{ form.ingredient(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ingredient.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ingredient(class="form-control form-control-lg", id="cuisine") }}
                    {% endif %}
                </div>

                <h6>Macronutrients</h6>
                <div class="form-group">
                    {{ form.calories(class="form-control left-position") }}
                    {{ form.proteins(class="form-control left-position") }}
                    {{ form.lipids(class="form-control left-position") }}
                    {{ form.carbohydrates(class="form-control left-position") }}
                </div><br/><br/>

                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
