{% extends "layout.html" %}
{% block content %}
    {% for cuisine in cuisines.items %}
        <article class="media content-section">
            <div class="media-body">
                <a href="{{ url_for('posts.dish_cuisine', cuisine_id = cuisine.id) }}"><h4>{{ cuisine.name }}</h4></a>
            </div>
        </article>
    {% endfor %}
    {% for page_num in cuisines.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if cuisines.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.cuisines', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.cuisines', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
