{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Dishes in {{ cuisine.name }} cuisine</h1>
    {% for post in result %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post[3]) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post[2]) }}">{{ post[2] }}</a>
                    <small class="text-muted">{{ post[1].strftime('%d-%m-%Y %H:%M') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post[0]) }}">{{ post[4] }}</a></h2>
                <p class="article-content">{{ post[5] }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
