{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y %H:%M') }}</small>
                <div>
                    {% if post.author == current_user or current_user.role == 'admin' %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Edit</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                    {{ post.like|length }}
                    {% if current_user in post.like|map(attribute="author")|list %}
                        <a href="/like-post/{{ post.id }}"><i class="fa-solid fa-thumbs-up"></i></a>
                    {% else %}
                        <a href="/like-post/{{ post.id }}"><i class="fa-regular fa-thumbs-up"></i></a>
                    {% endif %}
                </div>
            </div>
            <h1 class="article-title">{{ post.title }}</h1>
            <p class="lead">Origins:</p>
            {% for origin in cuisines %}
                {% for cuisine in post.cuisines %}
                    {% if origin.id == cuisine.id %}
                        <p>{{ origin.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p class="lead">Categories:</p>
            {% for category in categories %}
                {% for diet in post.categories %}
                    {% if category.id == diet.id %}
                        <p>{{ category.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p class="lead">Ingredients:</p>
            {% for ingredient in post.ingredients %}
                {% for product in amount %}
                    {% if ingredient.id == product[1] %}
                        <p>{{ ingredient.name }}: {{ product[2] }} </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p class="lead">Macronutrients: </p>
            <p>Calories: {{ post.calories }}</p>
            <p>Proteins: {{ post.proteins }}</p>
            <p>Lipids: {{ post.lipids }}</p>
            <p>Carbohydrates: {{ post.carbohydrates }}</p>
            <hr class="hr"/>
            <p style="font-size:20px;" class="article-content">{{ post.content }}</p>

        </div>
    </article>
    <div class="content-section ms-5">
        <div class="card-body">
            <div class="card-text"></div>
            <h3>Leave a comment!</h3>
            <br/>
            <div class="collapse" id="comments-{{ post.id }}">
                <div class="card">
                    <div class="card-body" id="comments-expanded-{{ post.id }}">
                        {% for comment in post.comments %}
                        <div class="content-section">
                            <div class="f-flex justify-content-between align-items-center">
                                <a href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a>: {{ comment.text }}
                                <small class="text-muted d-flex justify-content-end">{{ comment.timestamp.strftime('%d-%m-%Y %H:%M') }}</small>
                                {% if current_user == comment.author or current_user == post.author or current_user.role == 'admin' %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                                                </li>
                                          </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <p class="card-text">
                {% if post.comments|length > 0 %}
                    <a data-bs-toggle="collapse" href="#comments-{{ post.id }}" role="button">
                        <small>View/Hide {{ post.comments|length }} Comments</small>
                    </a>
                {% else %}
                    <small class="text-muted">Become the first one to review!</small>
                {% endif %}
            </p>
            <form class="input-group" method="POST" action="/create-comment/{{ post.id }}">
                <input type="text" id="text" name="text" class="form-control" placeholder="Have something to say?"/>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You won't be able to cancel this action.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="SUBMIT" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
